$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.box {
    width: 48.5%;
    float: left;
    position: relative;
    height: 100%;
    &.left {
        margin-left: 1%;
        margin-right: 0.5%;
    }

    &.right {
        margin-right: 1%;
        margin-left: 0.5%;
    }

    h3.title {
        text-transform: capitalize;
        background: gold;
        text-align: center;
        padding: 10px;
    }

    h2.total {
        text-align: right;
        border-top: 1px solid gray;
    }

    .box__types {
        input {
            margin-bottom: 0px;
        }

        button {
            float: right;
        }

    }
}

.element {
    margin: 5px 0px;

    .element__description {
        font-weight: bold;
        line-height: 30px;
    }

    // Overide boostrap css
    .element__value {
        float: right;
        text-align: right;
        margin-bottom: 0px;
    }

    .checkbox {
        padding-left: 50px;
    }



}

.summary {
    clear: both;
    background: gold;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;

    .number {
        margin-left: 20px;
    }

}

.navigation-bar {
    list-style: none;
    margin-top: 20px;
    text-align: center;

    li {
        $padding-left: 10.28%;
        $color: #DCDCDC;
        $focus-color: #C0C0C0;

        display: inline-block;
        padding-left: $padding-left;
        position: relative;

        .number-bullet {
            position: relative;
            display: block;
            border-radius: 50%;
            width: 30px;
            height: 30px; 
            background: $color;
            line-height: 30px;
            text-align: center;
            z-index: 1000;
            color: black;
        }

        .line {
            background: $color;
            position: absolute;
            float: left;
            left: 0px;
            top: 12.5px;
            height: 5px;
            width: 100%;
            z-index: 500;
        }

        &:first-child {
            padding-left: 0px;

            .line {
                display: none;
            }
        }

        &.active {
            .number-bullet {
                background: $focus-color;
            }

            .line {
                background: $focus-color;
            }
        }
    }

}
