<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label" for="inputProvidend Fund">Providend Fund</label>
        <div class="controls">
            <input type="text" id="inputProvidend Fund" placeholder="200000">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputRetirement Benefit Fund">Retirement Benefit Fund</label>
        <div class="controls">
            <input type="text" id="inputRetirement Benefit Fund" placeholder="20000">
        </div>
    </div>

</form>

