<table class="summary-table table table-bordered" ng-controller="SummaryCtrl">
    <thead>
        <tr>
            <th>Items</th>
            <th>Baht</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-bind="items.salary.desc"></td>
            <td ng-bind="items.salary.value"></td>
        </tr>
        <tr>
            <td ng-bind="items.bonus.desc"></td>
            <td ng-bind="items.bonus.value"></td>
        </tr>
        <tr class="sum-row">
            <td>Total Income</td>
            <td ng-bind="totalIncome"></td>
        </tr>
        <tr>
            <td ng-bind="items.expense.desc"></td>
            <td ng-bind="items.expense.value"></td>
        </tr>
        <tr>
            <td ng-bind="items.personalDecution.desc"></td>
            <td ng-bind="items.personalDecution.value"></td>
        </tr>
        <tr>
            <td>LTF</td>
            <td ng-bind="items.LTF.value"></td>
        </tr>
        <tr class="sum-row">
            <td>Total Deduction</td>
            <td ng-bind="totalDeduction"></td>
        </tr>
        <tr class="sum-row">
            <td>Net Income</td>
            <td ng-bind="netIncome"></td>
        </tr>
        <tr class="tax-row">
            <td>Tax</td>
            <td ng-bind="tax.total"></td>
        </tr>
    </tbody>
</table>
