<h3>TAX : 50000</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Items</th>
            <th>Option</th>
            <th>Baht/Year</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Salary</td>
            <td></td>
            <td>200000</td>
        </tr>
        <tr>
            <td>Bonus</td>
            <td></td>
            <td>20000</td>
        </tr>
        <tr>
            <td>Providend Fund</td>
            <td></td>
            <td>20000</td>
        </tr>
        <tr>
            <td>Expense</td>
            <td></td>
            <td>60000</td>
        </tr>
        <tr>
            <td>Personal Deduction</td>
            <td></td>
            <td>30000</td>
        </tr>
        <tr>
            <td>Parents</td>
            <td></td>
            <td>30000</td>
        </tr>
        <tr>
            <td></td>
            <td>Disabled</td>
            <td>30000</td>
        </tr>
        <tr>
            <td>LTF</td>
            <td></td>
            <td>3000</td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td>5000</td>
        </tr>
    </tbody>
</table>